<h1>Contacto</h1>
<h2>¡Conecta con el Mapa Verde!</h2>
<p>En esta sección de Contacto, te ofrecemos diversas formas de ponerte en contacto con el equipo por consultas, sugerencias o si simplemente quieres colaborar con la iniciativa. Estamos aquí para escucharte. Para eso, puedes completar el formulario de contacto que encontrarás a continuación:</p>