<% content_for(:image_section) { image_tag('accion.png') } %>
<div class="title-section">
  <h1>Quiero involucrarme</h1>
  <p class="title-desc">
    ¡Únete al Mapa Verde y comparte tu iniciativa! Si eres parte de una organización, emprendimiento, red o iniciativa ambiental juvenil, o tienes una idea para promover la acción ambiental entre jóvenes, ¡cuéntanos! Completa el formulario a continuación para postular tu iniciativa y formar parte de la plataforma:
  </p>
  <div class="buttons">
    <a class="btn main-button" href="/sobre-el-proyecto">Más información del proyecto</a>
    <a class="btn main-button" href="/nueva-organizacion">Quiero sumar mi organización</a>
    <a class="btn main-button" href="/nueva-actividad">Quiero sumar mi actividad</a>
  </div>
</div>