<h1>Hola, Mapa Verde admin!</h1>
<p>Se generó una nueva actividad<br>
</p>
<p>
  Haz click en el vinculo debajo ver la actividad:
  <br>

  <%= link_to "Ir a la actividad", @url %>.
</p>
<p>Si recibiste este correo por equivocación podes ignorarlo</p>