<div id="resources">
  <h1>Recursos</h1>
  <p class="title-desc">
    Te damos la bienvenida a la sección de Recursos del Mapa Verde. Aquí encuentras herramientas, materiales de consulta y sitios de referencia para orientarte en la acción ambiental: por ejemplo, investigaciones realizadas por la <a href="https://um.edu.uy/facultad-de-comunicacion">Facultad de Comunicación de la Universidad de Montevideo (FCOM),</a> recursos educativos creados por UNICEF, junto con guías, directorios, audiovisuales, webinars y cursos autoadministrados.
  </p>
  <p  class="desc">Explora esta sección para encontrar recursos útiles e inspiradores que te ayudarán a fortalecer tu acción ambiental en Uruguay y en el mundo.
  </p>
  <script>
    window.active_filters = <%= @active_filters %>;
  </script>
  <ul id="subject" class="resources_subjects select-options">
      <%= search_icon_options(@subjects, 'subjects', 'resources') %>
  </ul>
  <div id="resources">
      <%= turbo_frame_tag "list", src: resources_url(format: :turbo_stream)%>
      <%= turbo_frame_tag "pagination" %>
  </div>
</div>