.activity-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  h1 {
    border-bottom: 1px solid #00786C;
    margin: 0;
    padding: 10px 0;
  }
  .location-info {
    display: flex;
    gap: 10px;
    i {
      font-size: 16px;
      color: #123BA8;
      &.fa-external-link {
        color: #FFF;
      }
    }
    .main-button {
      padding: 10px 20px;
    }
    .starts {
      margin-right: 10px;
    }
  }
  .subjects, .actions {
    margin-bottom: 10px;
  }
  .buttons-wrapper {
    display: flex;
    gap: 10px;
  }
}
.toastui-calendar-section-button {
  display: none;
}