.activity-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  h1 {
    border-bottom: 1px solid #00786C;
    margin: 0;
    padding: 10px 0;
  }
  h3 {
    margin-bottom: 0;
  }
  h4 {
    margin-top: 0;
  }
  .location-info {
    display: flex;
    gap: 10px;
    i {
      font-size: 16px;
      color: #123BA8;
      &.fa-external-link {
        color: #FFF;
      }
    }
    .main-button {
      padding: 10px 20px;
    }
    .starts {
      margin-right: 10px;
    }
  }
  .subjects, .actions {
    margin-bottom: 10px;
  }
  .buttons-wrapper {
    display: flex;
    gap: 10px;
  }
}
.toastui-calendar-section-button {
  display: none;
}
.toastui-calendar-weekday-event {
  /*width: min-content;*/
}
.toastui-calendar-template-popupDetailDate,
.toastui-calendar-detail-container .toastui-calendar-section-detail {
  font-weight: initial;
}
.toastui-calendar-floating-layer * {
  word-break: break-word;
}
@media screen and (max-width: 900px) {
  .toastui-calendar-template-time {
    display: none;
  }
}