a.button.selected {
  background: #4a4949;
}
form .collapsable-section .expand {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-bottom: 6px;
  margin-right: 10px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
form .collapsable-section .down .expand {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
form .collapsable-section .expand-area {
  display: inline-block;
}
form .collapsable-section {
    margin: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

form .collapsable-section .sub-item {
  margin-left: 36px;
}
form .collapsable-section label{
  height: 100%;
  display: inline-flex;
  align-items: center;
  margin-bottom: 6px;
}
form .collapsable-section input {
  margin-right: 6px;
}
.color-container {
  background: #000000;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: auto;
}