@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");

body {
  color: #000;
  font-family: "Inter";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal; 
  margin: 0;
  scroll-behavior: smooth;
}
h1 {
  font-family: "Work Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 40px;
}
h2 {
  font-family: "Work Sans";
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
}
h3 {
  font-family: "Work Sans";
  font-size: 20px;
  font-weight: 600;
  line-height: 24px; 
}
h4 {
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px; /* 116.667% */
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #686868;
}

img {
  max-width: 100%;
}
.title {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #000;
  font-family: "Work Sans";
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
}
.title-section {
  margin-bottom: 50px;
}
.section-image {
  width: 100%;
  overflow: hidden;
  img {
    width: 100%;
  }
}
#main-content {
  max-width: 960px;
  padding: 50px 120px;
  margin: auto;
}
.buttons {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.main-button {
  display: flex;
  height: 44px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 10px; 
  border-radius: 4px;
  background: #0F57FB;
  color: #FFF;
  border: none;
}