*, *:before, *:after {
	-webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	-ms-box-sizing: border-box !important;
	box-sizing: border-box !important;
}

body {
  color: #000;
  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal; 
  margin: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
h1 {
  font-family: "Work Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 40px;
}
h2 {
  font-family: "Work Sans";
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
}
h3 {
  font-family: "Work Sans";
  font-size: 20px;
  font-weight: 600;
  line-height: 24px; 
}
h4 {
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px; /* 116.667% */
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #686868;
}
h5 {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  margin: 10px 0;
}
#main-content {
  max-width: 1200px;
  padding: 50px 120px;
  margin: auto;
}
.row {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  position: relative;
}
.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.error {
  border: 1px solid #F63B3B !important;
}
.error-text {
  font-size: 12px;
  line-height: 16px;
  color: #F63B3B;
  display: flex;
  gap: 8px;
  align-items: center;
}
.half {
  width: 50% !important;
}
.icon {
  width: 20px;
  height: 20px;
}
.btn-pager {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  text-decoration: none;
  color: #1F1F1F;
  display: flex;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 10px;
}
.message-wrapper {
  display: flex;
  padding: 16px;
  align-items: center;
  gap: 16px;
  width: 100%;
  justify-content: space-between;
  border-radius: 8px;
  &.success {
    border: 1px solid #3EB076;
    background: #EEFBF6;
    color: #3EB076;
  }
  &.error {
    border: 1px solid #F63B3B;
    background: #FFF5F5;
    color: #F63B3B;
  }
  .message {
    width: 100%;
    .message-title {
      font-size: 14px;
      font-weight: 600;
      line-height: 20px;
    }
    .message-body {
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
      color: #2C2C2C;
    }
  }
  i {
    align-self: baseline;
  }
  .fa-xmark {
    cursor: pointer;
  }
}
.toggle-content {
  display: none;
}
.active .toggle-content {
  display: block;
}
.input-file-label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px 16px;
  background: #0F57FB;
  width: max-content;
  border-radius: 4px;
  color: #FFF;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
.org-title {
  color: #1F1F1F;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  border-bottom: 1px solid #00786C;
  margin-bottom: 7px;
  padding: 5px 0;
}
.logo-wraper {
  width: 80px;
  height: 80px;
  display: flex;
  border-radius: 50%;
  overflow: hidden;
  row {
    max-width: calc(100% - 90px);
  }
}
img {
  max-width: 100%;
}
.btn {
  display: flex;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  border: 2px solid #0F57FB;
  width: max-content;
  text-decoration: none;
}
.main-button {
  padding: 16px;
  gap: 10px;
  background: #0F57FB;
  color: #FFF;
  border: none;
}
.icons-wraper {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.icon-tag {
  display: flex;
  gap: 10px;
  align-items: center;
  img {
    width: 20px;
  }
}
.title-section {
  margin-bottom: 50px;
  .title {
    display: inline-block;
    color: #000;
    font-family: "Work Sans";
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    .title-first {
      float: left;
      margin-right: 5px;
      margin-top: 4px;
    }
    h1 {
      width: max-content;
      float: left;
      margin: 0;
    }
    .title-last {
      float: left;
      margin-top: 3px;
      margin-left: 2px;
    }
  }
  .main-button {
    background: #00AA47;
  }
}
.section-image {
  width: 100%;
  overflow: hidden;
  img {
    width: 100%;
  }
}
.buttons {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}
#acts_pagination {
  margin: 30px 0;
  display: block;
}
.pagy-nav {
  display: flex;
  gap: 14px;
  font-size: 16px;
  justify-content: center;
  span {
    padding: 5px;
    border: 1px solid #979797;
    border-radius: 2px;
    a {
      color: #444;
      text-decoration: none;
      &[aria-disabled="true"] {
        color: #979797;
      }
    }
  }
}
.text-center {
  text-align: center;
}
.logos-frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 20px;
}

.right {
  justify-content: right;
}
.disclaimer {
  display: flex;
  padding: 10px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 8px;
  background: #F5F5F5;
  color: #878787;
  align-items: center;
  font-size: 14px;
}

#resources .active .icon-tag span::after {
  content: '\2713';
  display: inline-block;
  color: green;
  padding: 0 0 0 6px;
}
.resources_subjects {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
  list-style: none;
  padding: 0;
  gap: 20px;
  li {
    cursor: pointer;
  }
}
/* CALENDARIO */
.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  button {
    border: none;
    background: none;
    font-size: 24px;
    cursor: pointer;
  }
}
#calendar {
  height: 600px;
}
i.right {
  position: absolute;
  right: 10px;
  top: calc(50% - 6px);
}

/*         STATIC PAGES          */
.about img {
  width: 200px;
  margin: 0 20px 20px 0;
  &.um-logo {
    width: 286px;
  }
  &.use-logo {
    width: 158px;
  }
  &.data-logo {
    width: 172px;
  }
}
@media screen and (max-width: 600px) {
  #main-content {
    padding: 0 30px;
  }
}