/* TopBar */
header {
  position: relative;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1340px;
  margin: auto;
  padding: 20px 50px;
  /* Logo */
  .logo {
      width: 30px;
      height: 30px;
      position: relative;
      flex: none;
      order: 0;
      flex-grow: 0;
  }
  .menu-container {
      order: 2;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: flex-end;
      width: 100%;
  }
  .menu {
    list-style: none;
    display: flex;
    justify-content: right;
    align-items: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 14px; /* 116.667% */
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #000;
    gap: 20px;
    text-align: center;
    a, a:visited, a:active {
      text-decoration: none;
      color: #000;
    }
  }

  a.involucrarme, a.involucrarme:visited {
    display: flex;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #F5C32F;
    color: #FFF;
  }



  /* Titulo Apelatron */
  h2, h1 {
    height: 22px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #2D3473;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
  }


  /* Menu Icon */
  /* MENU */

  .hamb-wrapper {
    display: none;
    width: 25px;
    height: 25px;
  }
  .hamb {
    height: 3px;
    width: 25px;
    border-radius: 1.5px;
    background-color: #383a48;
    display: block;
    position: relative;
    transition: background .2s ease-out;
  }
  .hamb::before, .hamb::after {
    height: 3px;
    width: 25px;
    border-radius: 1.5px;
    background-color: #383a48;
    content: '';
    display: block;
    position: absolute;
    transition: all .2s ease-out;
  }
  .hamb::before {
    top: 8px;
  }
  .hamb::after {
    top: 16px;
  }

  .menu-container.active { 
    .menu {
        flex-direction: column;
        display: flex;
        position: absolute;
        background: #FFF;
        padding: 45px;
    }
    .hamb::after {
      top: 0;
      rotate: 90deg;
    }
    .hamb {
      rotate: 45deg;
    }
    .hamb::before {
      display: none;
    }
  }

  @media screen and (max-width: 900px) {
    .hamb-wrapper {
      display: block !important;
    }
    .menu-container .menu {
      display: none;
    }
  }
}
