#myNav {
  display: none;
}
/*  MAPA  */
.dummmy {
  width: 100%;
}
.uagb-block-07aeb560 {
  z-index: 10;
}
.title-desc {
  font-size: 16px;
  line-height: 24px;
}
#mapa-section {
  margin: 50px 0;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      padding: 16px;
      border-width: 1px;
      border-style: solid;
      border-color: #DEDEDE;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: #F5F5F5;
      &.active {
        background: none;
        border: none;
        .srv-header {
          i {
            rotate: 180deg;
            translate: 0 2px;
          }
          .sub-header {
            display: block;
          }
          .logo-wraper {
            display: flex;
          }
          .row {
            width: calc(100% - 80px);
          }
        }
        .srv-body {
          display: flex;
        }
      }
      h3 {
        justify-content: center;
        display: flex;
        gap: 10px;
        width: 100%;
        justify-content: left;
      }
      .srv-header {
        display: flex;
        align-items: center;
        width: 100%;
        cursor: pointer;
        gap: 10px;
        i {
          margin-left: auto;
        }
        .logo-wraper {
          display: none;
        }
        .sub-header {
          display: none;
          margin: 10px 0 0 0;
        }
      }
      .srv-body {
        display: none;
        flex-direction: column;
        gap: 20px;
        padding: 10px 0;
        .org-title {
          i {
            color: #123BA8;
            fill: #123BA8;
          }
        }
        .information i {
          color:#00AA47;
        }
        .org-acts {
          padding: 10px 0;
          border-bottom: 1px solid #000;
          margin-bottom: 10px;
        }
        a.act-tag {
          &:visited {
            color:#123BA8;
          }
          img {
            width: 20px;
          }
          span {
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 600;
            line-height: 14px; 
            color:#0F57FB;
          }
        }
      }
    }
  }
}
.contact i {
  color: #00AA47;
}
.backdrop {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 401;
}
.wrapper {
  display: flex;
  align-items: center;
  margin-right: 10px;
  position: relative;
  cursor: pointer;
  flex-wrap: wrap;
}
#map-wrapper {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
}
#map {
  z-index: 400;
}
#filters {
  z-index: 402;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  .select-wrapper {
    margin: 0px;
    background: #00AA47;
    border-bottom: 1px solid #DEDEDE;
    color: #FFF;
    height: 44px;
    display: block;
    align-items: center;
    border: none;
    width: 120px;
    position: relative;
    cursor: pointer;
  }
  .select-filter {
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px;
    width: max-content;
    &.clear-filters {
      padding: 0 10px;
      width: max-content;
      margin: 0;
    }
  }
  .select-options {
    display: none;
    background: #fff;
    top: 0px;
    margin: 0;
    z-index: 402;
    position: relative;
    width: min-content;
    &.active {
      display: block;
    }
    li {
      padding-right: 30px;
      color: #00AA47;
      width: 100%;
    }
    label {
      height: 28px;
      display: flex;
      width: max-content;
      align-content: center;
      align-items: center;
      font-family: Barlow Condensed;
      font-size: 16px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0em;
      text-align: left;
    }
  }
}

.button {
  background: #00AA47;
  border-bottom: 1px solid #DEDEDE;
  color: #FFF;
  height: 44px;
  display: block;
  align-items: center;
  border: none;
  width: 120px;
  margin: 5px;
}

#servicio-trigger {
  width: 260px;
}
#results {
  padding: 12px 16px;
  width: max-content;
}
#showing {
  margin: 0 4px;
}
#filters li.active::after {
  content: "";
  width: 9px;
  height: 14px;
  transform: rotate(35deg);
  border-bottom: 2px solid;
  position: absolute;
  right: 12px;
  border-right: 2px solid;
}
#edad {
  max-width: 94px;
}
#search {
  position: relative;
  z-index: 401;
}
#search i,
#search input {
  color: #1F1F1F;
}
#search i {
  position: absolute;
  left: 16px;
  top: 12px;
  font-size: 19px;
}

#search-text {
  height: 44px;
  padding: 0 10px 0 44px;
  border: 2px solid #00AA47;
  width: 290px;
}
input[type="radio"], input[type="checkbox"] {
  margin: 0 10px 0 0;
  width: 18px;
  height: 18px;
}
.leaflet-left .leaflet-control-zoom {
  margin-top: 180px;
  z-index: 401;
  margin-left: 16px;
}
#list {
  height: calc(100vh - 500px);
  overflow-y: scroll;
  h3 {
    margin: 0;
  }
}
#no-results {
  position: fixed;
  top: calc(50% - 22px);
  left: calc(50% - 210px);
  z-index: 410;
  padding: 12px 40px 12px 16px;
  border: 2px solid #753CE1;
  color: #753CE1;
  display: flex;
  align-items: center;
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 19.4241px;
  line-height: 22px;
  background: #fff;
  width: 420px;
  max-width: 100%;
}
 #no-results i {
   position: absolute;
   right: 16px;
}
  
  /* ACTIVITIES*/
#acts_pagination p {
  text-align: center;
}
.activity-item-wraper {
  width: 100%;
  height: 100%;
}
#resources-list,
#acts_list {
  display: grid;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);

  .activity-item {
    padding: 24px;
    display: flex;
    flex-direction: column;
    border: 1px solid #DEDEDE;
    min-height: 150px;
    width: 100%;
    height: 100%;
    h3 {
      font-family: "Work Sans";
      font-size: 20px;
      font-weight: 600;
      line-height: 24px; 
    }
    img {
      width: 300px;
      height: auto;
    }
  }
  a {
    text-decoration: none;
  }
}
@media (max-width: 782px) {
  #filters .filters-bottom {
    display: grid;
  }
  #resources-list,
  #acts_list {
    grid-template-columns: repeat(1, 1fr);
  }
}