<div class="activity-item-wraper">
  <a href="actividad/<%= activity.slug %>" data-turbo="false" class="activity-item">
    <h3 class="title"><%= activity.title %></h3>
    <% if activity.image.attached? %>
      <%= image_tag activity.image %>
    <% else %>
      <p><%= activity.description %></p>
    <% end %>
  </a>
</div>