<h1>Sumá tu actividad al calendario</h1>
<p>¡Gracias por querer compartir tu actividad con la comunidad del Mapa Verde! Completa el formulario a continuación con los detalles de tu evento o actividad relacionada con la acción ambiental joven. Una vez revisada y aprobada, aparecerá en nuestro calendario para que otras personas puedan unirse y participar.</p>
<h2>Completá este formulario</h2>
<%= turbo_frame_tag "message" %>
<%= turbo_frame_tag "activity_form" do %>
  <%= render partial: "activity_form" %>
<% end %>