<header>
  <%= link_to image_tag('logo_mapa_verde.svg', alt: "Logo Mapa Verde"), '/' %>
  <div class="menu-container">
      <!-- Hamburger icon -->
      <%= render 'layouts/menu'%>
      <div class="hamb-wrapper" onclick="this.parentNode.classList.toggle('active')">
        <div class="hamb"></div>
      </div>
  </div>
  <script>
    function openNav() {
      let nav = document.getElementById("myNav")
      nav.style.display = 'block'
      nav.style.height = "900px"
    }
    function closeNav() {
      document.getElementById("myNav").style.height = "0%";
    }
  </script>
</header>
